.page {
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 3em;
  will-change: transform, opacity;
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
}
